/* Import dependency (from node_modules) … */
@import "normalize.css";

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

$border-width: 4px;

/* Your styles here … */

.container {
	padding:10px;
	font-family: 'Press Start 2P', cursive;
	perspective: 20px;
	padding: 0 5vw;
	font-size:32px;
}

svg {
	display:none;
}


div {
	float:left;
}

p {
	margin: 20px 50px;
}

.outerlayer {
	//border: 1px solid black;
	max-width: 200px; 
	//height: 100px; 
	position: absolute;
	overflow:hidden; 
	background-image:url("../assets/panther.jpg");
	background-repeat:no-repeat;
	transition: transform 0.1s ease-out;
	background-position:50% 75%;


}

.moveouter {
	transform: perspective(500px) translate3d(10vw,28vh,0) scale(2);
	transition: transform 0.2s ease-out;
}

.innerlayer {
	transform: translate3d(200px,-1px,0);
	transition: transform 0.2s ease-out;
}

.colored {
	background-color:red;
	opacity:1;
}

.move {
	transform: translate3d(-1px,-1px,0);
}

.clicked p {
	transform: scale(1.5); 
	}

.rotate {
	transform:rotate(45deg);
}

.zoom {
	transition: transform 1s ease-out;
	transform:perspective(500px) translate3d(20px, 0, 0px);
	z-index:100;
	filter:(#myfilter);
}