/* Import dependency (from node_modules) … */
@import "normalize.css";

$border-width: 4px;

/* Your styles here … */



.container {
	padding:10px;
	font-family: 'IM Fell English SC', serif;
	perspective: 20px;
}

.outerlayer {
border: 1px solid black;
width: 100px; 
height: 100px; 
position: absolute;
overflow:hidden; 
}

.innerlayer {
	border: 1px solid blue;
	width: 100px; 
	height: 100px; 
	position:relative;
	transform: translate3d(-1px,-1px,0);
	transition: transform 1s ease-out;
}

.move {
	transform: translate3d(100px,-1px,0);
}