/* Import dependency (from node_modules) … */
@import "normalize.css";

$border-width: 4px;

/* Your styles here … */


h1 {

}

.container {
	padding:10px;
	font-family: 'Ubuntu Mono', monospace;
	font-family: 'VT323', monospace;
	perspective: 20px;
	padding: 0 5vw;
	font-size:25px;
	font-weight:200;

}

.outerlayer {
	//border: 1px solid black;
	max-width: 200px; 
	//height: 100px; 
	position: absolute;
	overflow:hidden; 
	background-image:url("../assets/panther.jpg");
	background-repeat:no-repeat;
	transition: transform 0.1s ease-out;
	background-position: 30% 75%;
}

.moveouter {
	transform: perspective(500px) translate3d(10vw,28vh,0) scale(2);
	transition: transform 0.2s ease-out;
}


.innerlayer {
	//border: 1px solid blue;
	position:relative;
	transform: translate3d(200px,-1px,0);
	transition: transform 0.2s ease-out;
}

.colored {
	background-color:red;
	opacity:1;
}

.move {
	transform: translate3d(-1px,-1px,0);
}

.clicked p {
	transform: scale(2.0); 
	}

p {
	font-size:20px;
	padding:1em;
}



.selection_1 div {
	width:25px;
	float:left;
	height:25px;
	border:1px solid black;
	transition: transform 1s ease-out;
}

.rotate {
	transform:rotate(45deg);
}

.zoom {
	transition: transform 1s ease-out;
	transform:scale(5) translate3d(10vw,10vh,0);
	z-index:100;
}